{% load staticfiles %}
{% load Custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'media/appimage/favicon/favicon.ico' %}">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->

  </head>
  <nav class="nav navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'learning_log:index' %}">
                    Learning_log
              </a>
          </div>
                <p class="navbar-text"><a href="{% url 'learning_log:topics' 1 %}" class="navbar-link">
                    显示所有笔记</a></p>

                   <form class="navbar-form col-xs-3 col-xs-offset-6" role="search" action="/search/" method="get">
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="请输入搜索内容" name="q">
                          </div>
                          <button type="submit" class="btn btn-default">搜索</button>
                  </form>


          <div class="navbar-right">
              {% include 'navbar_right.html' %}
          </div>

      </div>
  </nav>
  <body>
    <div class="container-fluid container_full">
    <div class="row">
        <div class="col-md-9" id="content">
        {% block main %}

        {% endblock %}
        </div>

        <div id="sidebar" class="sidebar col-md-3 hidden-xs">
        <div class="sidebar__inner ">
            <div class="order orderby-category" >
                <div class="list-group">
                    <div style="text-align: center">热门分类</div>
                      {% for category in Side_nav_categories %}
                            <a href="{% url 'learning_log:category' category.categories 1 %}" class="list-group-item">{{ category.categories__category }}
                            <span class="badge">{{ category.c }}</span></a>
                      {% endfor %}
                </div>
            </div>
            <div class="order orderby-createtime" >
                <div class="list-group">
                    <div style="text-align: center">热点文章</div>
                      {% for hotlog in Side_nav_hot %}
                            <a href="{% url 'learning_log:hotlog' hotlog.lnum %}" class="list-group-item">{{ hotlog.title|split_str_cut:8 }}
                            <span class="badge">{{ hotlog.like_count }}</span>
                                {% if forloop.counter == 1 %}
                                    <span class="label label-danger">HOT</span>
                                {% endif %}
                            </a>
                      {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>



    <div class="footerpush"></div>
    </div>

    {% include 'footer.html' %}


    <script src="/static/jquery-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/hsycmsAlert.js"></script>

    {% include 'back_to_top_button.html' %}

    <script src="{% static 'js/jquery.sticky-sidebar.min.js' %}"></script>
    <script type="text/javascript">
        $('#sidebar').stickySidebar({
            containerSelector: '.container-fluid',
            innerWrapperClass: 'sidebar__inner',
            topSpacing: 50,
            bottomSpacing: 20,
        });
    </script>

  </body>
</html>