{% load staticfiles %}
{% load Custom_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'media/appimage/favicon/favicon.ico' %}">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->


  </head>
  <nav class="nav navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
          <div class="navbar-header">
              <a class="navbar-brand" href="{% url 'learning_log:index' %}">
                    Learning_log
              </a>
          </div>

                    <p class="navbar-text"><a href="{% url 'learning_log:topics' 1 %}" class="navbar-link">
                        显示所有笔记</a></p>

          <form class="navbar-form col-xs-3 col-xs-offset-6" role="search" action="/search/" method="get">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入搜索内容" name="q">
                  </div>
                  <button type="submit" class="btn btn-default">搜索</button>
          </form>


          <div class="navbar-right">
              {% include 'navbar_right.html' %}
          </div>

      </div>
  </nav>
  <body>
    <div class="container-fluid container_full">
        {% block main %}

        {% endblock %}
    </div>


    <script src="/static/jquery-3.0.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>