{% load notifications_tags %}
{% notifications_unread as unread_count %}
{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/hsycmsAlert.css' %}">
{% if user.is_authenticated %}
    <p class="navbar-text">
        <div class="btn-group " role="group" aria-label="...">
              <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if unread_count %}
                          <svg viewBox="0 0 8 8"
                                 width="8px"
                                 height="8px">
                                <circle cx="4"
                                        cy="4"
                                        r="4"
                                        fill="#ff6b6b"
                                ></circle>
                          </svg>
                      {% endif %}
                        你好，{{ user.username }}
                        <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <input type="hidden" value="{% if unread_count %} 1 {% else %} 0 {% endif %}" id="checka">
                    <li class="{% if not unread_count %} disabled {% endif %}">
                        <a href="{% url 'notice:list' %}" id="noticea">
                            通知
                            {% if unread_count %}
                                <span class="badge">{{ unread_count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="{% url 'users:loginout' %}">退出登录</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a type="button" href="#" onclick="confirm()" id="deluser"><span id="in_a_link" style="background:none;
                                                                                                                display: inline-block;
                                                                                                                margin-left: 0">删除用户</span></a>
                    </li>
                  </ul>
              </div>

              <button type="button" class="btn btn-default navbar-btn">
                <a href="{% url 'users:loginout' %}">退出</a>
              </button>
        </div>
    {% else %}
        <button type="button" class="btn btn-default navbar-btn">
          <a href="{% url 'users:login' %}">登录</a>
        </button>

        <button type="button" class="btn btn-default navbar-btn">
          <a href="{% url 'users:register' %}">注册</a>
        </button>
{% endif %}

 <!--询问弹窗-->
 <div class="hsycms-model-mask" id="mask-confirm"></div>
 <div class="hsycms-model hsycms-model-confirm" id="confirm">
   <div class="hscysm-model-title">温馨提示</div>
   <div class="hsycms-model-text">确定要操作？</div>
   <div class="hsycms-model-btn">
    <button type="button" class="cancel">取消</button>
    <button type="button" class="ok">确定</button>
   </div>
 </div>

<script src="{% static 'jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/hsycmsAlert.js' %}"></script>
<script>
    let flag=parseInt($("#checka").val())
    let a=$("#noticea")
    if(!flag){
        a.removeAttr("href")
    }

    //询问弹窗
   function confirm(){
      hsycms.confirm('confirm','您即将清除用户数据，确定这样做吗？',
         function(){
            hsycms.success('success','点击了确定');
            $("#deluser").attr('href','{% url 'users:userdel' %}');
            $("#in_a_link").click();
         },
        function(){
            hsycms.error('error','点击了取消');
         },
      )
   }

</script>