{% extends 'base.html' %}
{% load Custom_filters %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加笔记</title>
</head>
<body>
    {% block main %}
        <script type="text/javascript" src="/static/tiny_mce/tiny_mce.js"></script>
        <script type="text/javascript" src="/static/tiny_mce/plugins/example/editor_plugin.js"></script>
        <script>
         tinyMCE.init({
           {#'mode':'textareas',#}
           {#'theme':'advanced',#}
             selector: '#mytextarea',
             toolbar: 'undo redo | styleselect | bold italic | link image',
            'width':1200,
           'height':600,
        })
        </script>

        <p>
            新增加一个笔记
        </p>
        <form action="{% url 'learning_log:newtopic' %}" method="post">
        {% csrf_token %}
            {{ add_topic_form.as_p }}


            <p>
                <textarea class="comment_content" name="comment_content" id="mytextarea">富文本</textarea>
            </p>


        <p>类型：</p>
            {% for category in categories %}
                <input type="checkbox" name="category" value="{{ category.cnum }}">{{ category|split_str:"3," }}<br>
            {% endfor %}

        <p>
            <input type="submit" value="提交">
        </p>
        </form>

    {% endblock %}
</body>
</html>