{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>详细读书笔记</title>
</head>
<body>
    {% block main %}
        <p>
            <h3>{{ topic.title }}</h3>
        </p>
        <p>
            内容：
        </p>
        <p>
            {{ topic.content }}--{{ topic.owner }}
            {% for c in topic.categories.all %}
                {{ c }}--
            {% endfor %}
        </p>
        <p>
            评论:
        </p>
        <p>
            <ul>
                {% for com in comment %}
                    {{ com.commentcontent }}
                    {% empty %}
                        没有评论！
                {% endfor %}
            </ul>

        </p>

    {% endblock %}

</body>
</html>